:root { 

/* fonts */

--main-font: "Roboto";
--secondary-font: "Raleway";

   


/* text color */

--accent-txt-color: #2196F3;
--txt-black: #000000;
--txt-white: #FFFFFF;
--txt-deep-grey: #212121;
--txt-light-gray: #F5F4FA;
--txt-gray: #757575 ;
--txt-gray-glass: rgba(255, 255, 255, 0.6);

/* bg color */

--heder-footer: #2F303A;

 }

body {font-family: "Roboto", sans-serif ;
font-size: 16px;
line-height: 1.87;
color: var(--txt-gray);
}

/* comon styles start */

.link {text-decoration: none;}

.list {list-style: none;}

.logo-web {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-color);
}

.btn {
        font-family: inherit ;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--txt-deep-grey);
        cursor: pointer;
        background-color: transparent;
        background-color: var(--txt-light-gray);
}
.btn:hover,
.btn:focus {color:var(--txt-white); background:var(--accent-txt-color);}

/* comon styles end */

/* heder */

.heder-logo-studio {
    color: var(--txt-black);}
    

.heder-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-deep-grey);}

.heder-link:hover,
.heder-link:focus {
    color: var(--accent-txt-color);}   

.heder-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-gray);} 
.heder-contact:hover,
.heder-contact:focus {
     color: var(--accent-txt-color);
        }

/* main */

/* main-index */

.hero-color {background-color: var(--heder-footer);
 
}

.btn-hero{font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--txt-white);
    cursor: pointer;
    background-color: transparent;
    background-color:var(--accent-txt-color);}
        
    .btn-hero:hover,
    .btn-hero:focus {color: var(--heder-footer); background: var(--accent-txt-color);
        }
        
                
              



.index-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--txt-white);
    
}

.index-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--txt-deep-grey);}

.index-h3-best {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--txt-deep-grey);}

.index-p-best {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
     color: var(--txt-gray);}

.index-h3-banda {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--txt-deep-grey);}

.index-p-banda {
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--txt-gray);} 



/* main-portfolio */  



.portfolio-h2-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--txt-deep-grey);
} 

.pottfolio-p-style {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
     color: var(--txt-gray);}


/* footer */

.footer {
background-color: var(--heder-footer);
}

.footer-logo-studio {
color: var(--txt-white);
}
.footer-address-it {font-style: normal;} 

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-white);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-txt-color);
}
.footer-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71x;
    letter-spacing: 0.03em;
    color: var(--txt-gray-glass);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-txt-color);}